{% extends 'FrontEnd/Resources/views/emails/base/base-password-reset.html.twig' %}

{% set fullUrl = global_en_config.environment.s3_uploads_url ~ '/images/logos/email/football2019_' ~ global_en_config.getClientAlias() ~ '.png' %}

{% block headerContainer %}{% endblock %}

{% block bodyContainer %}
    <table style="padding-top:20px; font-family: 'Gotham-Book', sans-serif;">
        <tr>
            <td>
                {% block bodyContent %}
                    <table cellpadding="10" align="center" style="max-width: 550px;">
                        <tr>
                            <td>
                                <table align="center" cellpadding="5px" cellspacing="0">
                                    <tr>
                                        <td align="center">
                                            <img src="{{ fullUrl }}" style="text-align: center;" alt="Pro Football Frenzy">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="line-height: 1.25em; font-size: 16px;">Dear {{ firstName }}:<br /><br />
                                    We received a request to reset the password for your <em>Pro Football Frenzy</em> account.</p>
                                <p style="font-size: 16px;">To do so, press the button below.</p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <a title="Reset My Password" href="{{ resetLink }}" style="font-size: 16px; background-color: #000000; padding: 20px; margin:20px auto; display: inline-block; color: #ffffff; font-weight: bold; text-decoration: none;" target="_other" rel="nofollow">RESET MY PASSWORD</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-size: 16px; margin: 0; line-height: 1.5em;">
                                    <strong>Didn't Ask to Change Your Password? Don't Worry.</strong>
                                </p>
                                <p style="font-size: 16px; margin: 0; line-height: 1.5em;">
                                    Your password is still safe. You can just delete this email.
                                </p>
                            </td>
                        </tr>
                    </table>
                {% endblock %}
            </td>
        </tr>
    </table>
{% endblock %}

{% block footerContainer %}{% endblock %}