<table align="center" cellpadding="5px" cellspacing="0">
    <tr>
        <td align="center">
            <span style="font-size:0.9em;">
                You are receiving this email because you performed a transaction on $2 Million Dollar Pro Football Frenzy Presented by Muckleshoot<br>
                Casino. If you have any questions concurring this email, please write to us at muckleshootsupport@profootballfrenzy.com.
            </span>
        </td>
    </tr>
    <tr>
        <td align="center">
            <span style="font-weight:bold; font-size:0.9em;">Please, do not replay to this email.</span>
        </td>
    </tr>
    <tr>
        <td align="center">
            <span style="font-size:0.9em; text-transform: uppercase;">muckleshoot indian casino</span><br/>
            <span style="font-size:0.9em;">
                2402 Auburn Way S.<br/>
                Auburn, WA 98002<br/>
                <a href="mailto:muckleshootcasino.com">muckleshootcasino.com</a>
            </span>
        </td>
    </tr>
</table>