{# Client customization should be done at client portal. #}

{% set fullUrl = '/images/logos/email/football2019_voucherlogo_instant_' ~ global_en_config.getClientAlias() ~ '.png' %}

<table align="center" cellpadding="5px" cellspacing="0">
    <tr>
        <td align="center">
            <img src="{{ fullUrl }}" style="width:150px; text-align: center;">
        </td>
    </tr>
</table>